h1 {
  font-family: Permanent Marker;
}
#red {
  color: red;
}
#topNote {
  background: linear-gradient(rgba(190, 190, 0, 0.05), rgba(190, 190, 0, 0.05));
  height: 20px;
}
#displayBox {
  border-color: rgba(200, 220, 0, 0.1);
  border-style: solid;
  border-width: 1px;
  min-height: 200px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2em;
  padding-bottom: 35px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: lightyellow;
  border-radius: 2px 2px 2px 2px;
  font-family: Noticia Text, Sans-Serif, Monospace;
  -webkit-box-shadow: 2px 21px 33px -8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 21px 33px -8px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 21px 33px -8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
#noteBox {
  padding: 35px, 35px, 35px, 0px;
  margin-top: 10px;
}
#note {
  padding-left: 30px;
  font-size: 25px;
  font-style: italic;
}
#person {
  font-style: italic;
  padding-right: 25%;
}
button {
  background-color: white;
  margin-top: 25px;
  margin-left: 45px;
  font-family: Permanent Marker;
}
button:click {
  background-color: white;
  margin-top: 25px;
  margin-left: 40px;
  border-width: 0px;
}
.btn-override {
  padding: 0px;
  font-size: 22px;
}

.btn-override-tweet {
  background-color: lightyellow;
  padding: 0px;
  margin: 0px;
  font-family: Noticia text;
}
#markerLoop {
  margin-top: 40px;
  width: 200px;
  height: 100px;
  background-image: url("https://s14.postimg.org/dqr1tkjo1/marker_Loop.jpg");
  background-size: 200px 100px;
  z-index: 1;
  border-radius: 50%;
}

#tweet {
  margin-left: 5px;
  color: #55acee;
}