html { font-size: 10px; }

body { 
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #155;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  display: grid;
  grid-template-areas:
    'title title'
    'editor preview';
  place-items: center;
  gap: 20px;
  padding: 50px 0;
}

#title {
  grid-area: title;
  color: #eee;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 5rem;
  text-shadow: 5px 5px #333;
}

#editor,
#preview {
  width: 500px;
  height: 600px;
  padding: 24px 14px 14px 14px;
  border: none;
  border-radius: 3px;
}

#editor {
  grid-area: editor;
  background: #eee;
  box-shadow: 5px 5px #448484;
}

#preview {
  grid-area: preview;
  background: #333;
  color: white;
  font-family: 'Molengo', sans-serif;
  font-size: 1.2rem;
  box-shadow: 5px 5px #448484;
  overflow-y: auto;
}

a { color: #D6EFA3; }

li { margin-left: 3rem; }

blockquote {
  margin-left: 2rem;
  padding-left: 0.6rem;
  border-left: 0.4rem solid grey;
}

@media only screen and (max-width: 1050px) {
  .App {
    grid-template-areas:
      'title'
      'editor'
      'preview';
  }

  #editor,
  #preview {
    width: 90vw;
    height: 400px;
  }
}